{% extends 'crud/base.html' %}
{% block body %}
    <form method="POST" action="update/{{ members.id }}">
        <!--{% csrf_token %}-->
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" value="{{ members.firstname }}" required="required"/>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" value="{{ members.lastname }}" required="required"/>
        </div>

        <!--div class="form-group">
            <label for="agama">Agama</label>
            <input type="text" name="agama" value="{{ members.agama }}" required="required"/>
        </div-->
        <div class="form-group">
           <label for="sel1">Agama:</label>
           <select class="form-control" id="sel1">
             <option {% if members.agama == "ISLAM" %} selected = "selected" {% endif %} value="ISLAM">ISLAM</option>
             <option {% if members.agama == "KRISTEN" %} selected = "selected" {% endif %} value="KRISTEN">KRISTEN</option>
             <option {% if members.agama == "BUDHA"%} selected = "selected" {% endif %} value="BUDHA">BUDHA</option>
           </select>
         </div>
        <div class="form-group">
            <label for="alamat">Alamat</label>
             <textarea class="form-control" name="alamat" rows="5">{{ members.alamat }}</textarea>
            <!--input type="text" name="alamat" value="{{ members.agama }}" required="required"/-->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Update</button>
        </div>
    </form>
{% endblock %}
