{% extends 'crud/base.html' %}
{% block body %}
<form class="form-inline"  action="create" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" value="{{ members.firstname }}" required="required"/>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" value="{{ members.lastname }}" required="required"/>
    </div>
<br>
    <div class="form-group">
        <label for="agama">Agama</label><br>

        <input type="radio" name="agama" value="ISLAM" checked> ISLAM<br>
        <input type="radio" name="agama" value="KRISTEN"> KRISTEN<br>
        <input type="radio" name="agama" value="BUDHA"> BUDHA
        <!--input type="text" name="agama" value="{{ members.agama }}" required="required"/-->
    </div><br>
    <div class="form-group">
        <label for="alamat">Alamat</label>
         <textarea class="form-control" name="alamat" rows="5">{{ members.alamat }}</textarea>
        <!--input type="text" name="alamat" value="{{ members.agama }}" required="required"/-->
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> ADD</button>
    </div>



    <!--div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" class="form-control" style="width:30%;" required="required"/><br>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" class="form-control" style="width:30%;" required="required"/><br>
        <label for="agama">Agama</label>
        <input type="radio" name="agama" value="ISLAM" checked> ISLAM<br>
        <input type="radio" name="agama" value="KRISTEN"> KRISTEN<br>
        <input type="radio" name="agama" value="BUDHA"> BUDHA

        <label for="alamat">Alamat</label>
        <textarea  name="alamat" class="form-control"></textarea>

        <!--input type="text" name="lastname" class="form-control" style="width:30%;" required="required"/-->
    </div-->
</form>
<br />
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Agama</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{ member.agama }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="edit/{{ member.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center>
                      </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
